# google OAuth creds
CLIENT_ID="<your-client-id>"
CLIENT_SECRET="<your-client-secret>"

# cloudflare workers creds
AUTH_REFRESH_ENDPOINT_DEV="https://localhost:8787/api/auth/refresh"

# supabase creds
SUPABASE_URL="https://<your-project-ref>.supabase.co"
SUPABASE_KEY="<your-supabase-key>"                                   # publishable or secret key, NOT anon key
