# Dependencies
node_modules
**/node_modules

# Build artifacts
dist
**/dist
.wrangler
**/.wrangler

# Repository
.git
.gitignore
.dockerignore
README.md

# Environment
.env
.dev.vars

# OS files
.DS_Store
Thumbs.db
